/* p {
    font-family: 'Great Vibes', cursive;
}*/

h1 {
    font-size: 30px;
    color:rgb(169, 39, 239);
}

#outer{
    position: relative;
    background-image: linear-gradient(rgb(40,40,40),rgb(0,0,0));
    /* border:solid 10px transparent ;
    box-sizing: content-box;
    background-image: linear-gradient(0deg,cyan,yellow),
    linear-gradient(0deg,cyan,yellow),
    linear-gradient(0deg,rgb(40,40,40),rgb(0,0,0)),
    linear-gradient(0deg,rgb(40,40,40),rgb(0,0,0)),
    linear-gradient(0deg,cyan,yellow);
    background-origin: padding-box, border-box, border-box, border-box, border-box;
    background-repeat: no-repeat;
    background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    background-position: top left, top left, top right, bottom left, bottom right; */
}

#outer::before,
#outer::after {
    content: "";
    position: absolute;
    width: 2%;
    height: 20%;
}

#outer::before{
    top:0;
    left:0;
    background-image: to bottom right,cyan,yellow;
}

#outer::after{
    bottom:0;
    right:0;
    background-image: linear-gradient(to top left,cyan,yellow);
}

#inner{
    background: linear-gradient(0deg,rgb(40,40,40),rgb(0,0,0));
    padding: 14em 27em 14em 27em ;
}

/* #imgsrc {
    font-size: 15px;
}  */
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 97.5%;
    width: 98.5%;
    background: linear-gradient(to bottom right,rgb(40,40,40),rgb(0,0,0));
    overflow: hidden;
}

html,body,#root{
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    overflow: hidden;
}

/* body{
    background: linear-gradient(to bottom right,cyan,yellow);
} */

html{
    background: linear-gradient(to bottom right,rgb(40,40,40),rgb(0,0,0));
    background-blend-mode: hard-light,darken,luminosity;
    background-repeat: repeat no-repeat;
}