html, body {
  margin: 0;
  padding: 20px;
  height: 100%;
}


/* Add your CSS here */
main{
  display:flex;
  flex-direction:column;
  height:100%;
  width:100%;
  align-items:center;
  justify-content:center;
}

h1{
  height:auto;
  text-align:center;
}

#gameboard{
  height:50%;
  width:40%;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  background-color:gray;
}

h2{
  height:auto;
  text-align:center;
}

tbody{
  display:flex;
  flex-direction:column;
  height:100%;
  width:100%;
}

tr{
  display:flex;
  height:100%;
  width:100%;
}

td{
  display:flex;
  flex-direction:column;
  justify-content:center;
  flex:1;
  border-collapse:collapse;
  font-size:50px;
}

tr:nth-child(2){
  border:4px solid red;
  border-right:0;
  border-left:0;
}

td:nth-child(2){
  border:4px solid red;
  border-top:0;
  border-bottom:0;
}

aside{
  visibility:hidden;
}

.xsquare{
  background-color:purple;
}

.osquare{
  background-color:chartreuse;
}