#div{
    display:flex;
}

#target{
    border:solid;
    border-color:black;
    display:grid;
    width: 200px ;
    height:200px;
    background-color:aquamarine;
}

#field{
    display:grid;
    border:solid;
    border-color:brown;
    margin-top:20px;
    width:500px;
    height:auto;
}

.divbox{
    display:flex;
}

.divmiddle{
    flex:0.3;
}

