/* when the width is 650px or less, 
. the header text size is 1.5em
. the three buttons in the section top laid as a column, centered and with no gap
. the width of the buttons is 70% of its parent
. the image and its descriptive text in the section bottom are laid as a column */

@media screen and (max-width: 650px) {

    p{
        font-size: 0.8em;
    }
    h1{
        font-size: 1.5em;
    }
    .button{
        display: block;
        margin: 0 auto;
        width: 70%;
    }
    #sec-img{
        display: block;
    }
}