*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
html,body {
    width:100%; height:100%;
}

body{
    display: flex;
    border: 2px solid red;
    justify-content: center;
    text-align: center;

}

#page{
    flex:auto;
    width:80%;
    padding:0.4%;
}

#main{
    border: 2px solid blue;
    background-color:rgb(240 188 212);
    flex:6;
    padding:0.4%;
    margin-bottom:0.4%;
}

.purple{
    background-color:rebeccapurple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

#assignment-header{
    text-align:center;
    margin:50px;
    font-size:40px;
    color: white;
}

#purple-head{
    border:2px solid white; /* to ask the teacher why its so fucky */
}

#purple-head, #purple-footer{
    flex:1.5;
    text-align: center;
}

.button{
    background-color:orange;
    border:3px outset gray;
    height: 100%;
    width: 33%;
    color:white;
    font-size:40px;
}

#top{
    height:calc((2/10)*100%);
    border:2px solid red;
    padding:0.6%;
    margin-bottom: 0.4%;
}

#bottom{
    display: flex;
    height:calc((8/10)*100%);
    border:2px solid green; 
    background-color: #c9f3ef;
    padding:0.6%;
}

/* Buttons */
#js{
    flex:1;
}

#java{
    flex:1;
}

#oracle{
    flex:1;
}

.button:hover{
    background-color:darkorange;
}

/*
Pictures section
*/
#sec-img{
    flex:4;
    border:2px dotted red;
    background-color:white;
}

#pic{
    width: 80%;
    height: 80%;
    max-width: 100%;
    max-height: 100%;
}

#sec-text{
    flex:5;
    background-color:beige;
    border: 2px dotted blue;
}

img{
    width:80%;
    max-width: 100%;
    height: 80%;
    max-height: 100%;
}

/* 
Profs + description
*/
.desc{
    display: flex;
    visibility: visible;
    align-items: center;
    justify-content: center;
}

#prof{
    padding-bottom: 10%;
}
 
/* 
   Footer
*/
#purple-footer{
    height: 20%;
}

.footer-box{
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 0 5px;
    color: white;
}

