#MiddleBlockPage{
  background-color: #00203FFF;
}

body{
  color: #ADEFD1FF;
  background-image: url("AnimeBackground/DarkAnimeBackground.jpg");
  //https://wallpapers.com/wallpapers/beautiful-sunrise-anime-scenery-jf6f0baxzkkia2ki.html//
}
#stickyheading{
  background-color:#00203FFF;
}
.SongLink{
  color: #ADEFD1FF;
}




