#MiddleBlockPage{
  background-color: #ADEFD1FF;
}

body{
  color: #00203FFF;
  background-image: url("AnimeBackground/LightAnimeBackground.jpg");
  background-size:cover;
  //https://wallpapers.com/wallpapers/country-road-anime-scenery-ahd1eqpvwq8aoofp.html//
}
#stickyheading{
  background-color:#ADEFD1FF;
}
.SongLink{
  color:#00203FFF;
}
