@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');

h1{
  font-family:'Estonia', cursive;
  font-size:50px;
}
hr{
  border-style: solid;
}

h2{
  font-family:'Estonia', cursive;
  position: relative; top: -1px;
}

#theme{
  position: absolute;
  top:0;
  right:0;
}
button{
  display:inline-block;
}
#QuizLink{
  text-align: right;
  position:absolute;
  right:0;
  background-color:hotpink;

}
#stickyHeading{
  position:sticky;
  top:0;
  z-index: 3;
  padding:0;
  display: block;
  border:solid;
  width:100%;
  size:auto;
}

body{
  color: #00203FFF;
  margin:0px;

}

th{
    border-style: ridge;
}

table{
    border-style: none;
    width: 50%;
    height:55%;
}

#ImportanceOfAnime,#GoodAnimeElements,#myAnimeListWebpage{
    display:inline-grid;
    text-align: center;
    margin: 0% 10% 0% ;
    width: 20%;
    height: 20%;
    border-style: none;
    position:relative;
    grid-row-start:2 ;
}


#MiddleBlockPage{
    display:block;
    flex-direction: column;
    justify-content: center;
    background-color: #ADEFD1FF;
    position: static;
	  margin-left: 7%;
  	margin-right: 7%;
    padding:0.2%;
    border:solid;
 
}

#ImportanceOfAnime{
	margin-left: 1.5%;
	margin-top: -21.5%;
}

#GoodAnimeElements{
	margin-left: 78%;
}

#myAnimeListWebpage{
	margin-left: 1.5%;
  margin-bottom: 1.5%
}

#test{
  border: none;
  display:flex;
  margin-top: -200px;
}

#p1, #p2, #p3, #p4, #p5, #p6, #theme, #QuizLink{
  font-family:'Estonia', cursive;
  font-size: 25px;
  font-weight: bold;
}

#p1, #p2, #p3, #p4, #p5, #p6{
  background-color:whitesmoke;  
}

.fight, .visual, .movie, .series{
  border: solid;
  border-color:black;
  position: relative;
}

#AnimeGood, #AnimeLatest{
  text-align: left;
  position: relative; top: 5%;
}

#AnimeImportant{
  text-align: left;
}

.SongLink{
  background-color: transparent;
  text-decoration: none;
}

.VD{
  border: solid;
  width: 12%;
}