#page-title{
    text-align:center;
}

#div-for-the-page-title{
    position:sticky;
    top:0;
    z-index: 3;
    padding:0;
    display: block;
    border:solid;
    width:100%;
    size:auto;
}

header {
    height: 20%;
    background-color: aqua;
    border:solid;
    border-color:black;
}