html, body {
  margin: 0;
  font-family: Verdana, sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: lemonchiffon;
}

h1 {
  text-align: center;
}

main {
  flex: 1;
  display: inline-grid;

  /* Add the main flex layout here */
}

.countries {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  justify-items:center;
  align-items:center;
}

p{
  display:flex;
  flex-direction:column;
  border: 2px solid black;
  background-color: aquamarine;
  justify-content:center ;
  align-items:center;
  width: 16.5em;
  height: 8.5em;
}

/* Add the rest of your code here */
