body{
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

html{
    height: 100%;
}

header,footer{
    background-color:aqua;
    flex:1;
    height:100%;
    text-align:center;
    align-content:center;
}

footer{
    display:flex;
    justify-content:space-around;
}

table{
    overflow:scroll;
}

main{
    display:flex;
    flex-direction:row;
    flex:8;
    height:100%;
}

h1{
    text-align:center;
}

#form-here{
    display:flex;
    flex-direction:column;
    flex:25%;
    align-items:center;
    text-align:center;
}

form{
    width:100%;
}

#table-here{
    flex:75%;
    overflow:scroll;
}

fieldset{
    display:flex;
    flex-direction:column;
    margin:15px;
}

div{
    display:flex;
}

input{
    flex:4;
}

label{
    flex:1;
}

.border{
    margin:10px;
    padding: 20px;
    border:1px solid gray;
    width:87%;
}


td{
    height: 25px;
    width: 25px;
    border:1px solid black;
}